<div id="login-placeholder" class="min-scrh flex-c">
  <div id="login-panel" class="bg-color-contrast fg-color">
    <ra-loadbar *ngIf="submitted"></ra-loadbar>
    <div *ngIf="!submitted">
      <div class="input box" [class.error]="failed">
        <i class="material-icons">account_circle</i>
        <input type="text" placeholder="Gebruikersnaam" id="username" [(ngModel)]="loginRequest.username" />
      </div>
      <div class="input box" [class.error]="failed">
        <i class="material-icons">fingerprint</i>
        <input type="password" placeholder="Wachtwoord" id="password" [(ngModel)]="loginRequest.password" (keyup.enter)="onSubmit()" />
      </div>
      <div class="input submit">
        <button type="button" (click)="onSubmit()">Login</button>
      </div>
    </div>
  </div>
</div>
