#login-placeholder {
    background: linear-gradient(331deg, #00a8ff, #ff8a00, #30ff30);
    background-size: 600% 600%;
    -webkit-animation: BackgroundEffect 42s ease infinite;
    -moz-animation: BackgroundEffect 42s ease infinite;
    -o-animation: BackgroundEffect 42s ease infinite;
    animation: BackgroundEffect 42s ease infinite;
}

#login-panel {
    display:inline-block;
    padding:2em;
    border-radius:3px;
}

.input {
  &.box {
      display:flex;
      align-items:center;
      background-color:#fff;

      margin:5px 0;

      &:hover {
          background-color:#f1f1f1;
      }
      
      i {
          margin:0 5px
      }

      input {
          padding-left:0;
          background-color:rgba(0,0,0,0);
      }
  }
  &.submit {
      display:flex;
      justify-content: flex-end;

      button {
          background-color:#008aff;
          color:#e8e8e8;
          display:inline-block;
      
          &:hover {
              background-color:#00a8ff;
              cursor:pointer;
          }
      }
  }

  input, button {
      padding:.8em;
      border:0;

      &:focus {
          outline:none;
      }
  }
}


@media (prefers-color-scheme: dark) {
    .input.box {
        background-color:#666;

        &:hover {
            background-color:#585858;
        }

        i, input {
            color:#ccc;

            &::placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
                color:#ccc;
                opacity: 1;
            }
        }
    }
}



@-webkit-keyframes BackgroundEffect {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@-moz-keyframes BackgroundEffect {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@keyframes BackgroundEffect {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
