nav {
  display:flex;
  justify-content:flex-end;

  span, i {
    vertical-align: middle;
    padding:5px
  }

  span {
    line-height:1.4em;
    font-size:1.4em;
  }

  i {
    line-height:1.8em;
    font-size:1.8em;
  }
}
