<!-- <div id="nav-logo">
</div>
<ul id="nav-buttons">
    <li>Home</li>
    <li>Dashboard</li>
    <li>Diensten</li>
    <li>Instellingen</li>
    <li>Afmelden</li>
</ul> -->
<nav class="c-small">
  <!-- <img src="" alt="" width="" height="" /> -->
  <span>Dashboard</span>
  <span>Diensten</span>
  <i class="material-icons">settings</i>
  <i class="material-icons">exit_to_app</i>
</nav>
