/* You can add global styles to this file, and also import other style files */
html, body {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.fg-color {
    color:#121212;

  &.hovering:hover {
    cursor:pointer;
    color:#626262;
  }
}
.bg-color {
    background-color:#f1f1f1;
}
.bg-color-contrast {
    background-color:#e1e1e1;
}

.min-scrh {
    min-height:calc(100vh - 4.4em);
}
.flex-c {
    display:flex;
    align-items:center;
    justify-content:center;
}

.c-small {
  max-width:1000px;
  margin:0 auto
}

@media (prefers-color-scheme: dark) {
    img {
        opacity: .75;
        transition: opacity .5s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }

    .fg-color {
        color:#888;

        &.hovering:hover {
          color:#c2c2c2;
        }
    }
    .bg-color {
        background-color:#323232;
    }
    .bg-color-contrast {
        background-color:#424242;
    }
}
